.card-bg{
padding:100px 213px;
  display: flex;
 background-color: #c5d8c5;
 position : relative;
}

.card-border {
    width:350px;
    align-items : center;
     border: 1px solid  #98a798;
     margin:20px;
     position : relative;
     float: left;
   
}

card img {
    width: 100%;
  height: auto;
    position : relative;
}
card .title {
    padding: 2px;
    text-align: center;
    position : relative;
    font-weight: 500;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
/* card p {
    padding: 3px;
    text-align: center;
    position : relative;
} */

@media screen and (max-width:960px){
    .card-bg {
   flex-direction: column; 
 }
 .card-border {
    width:300px;
    margin-right:20px;
    
}}

  